:root {
  /*--ion-font-family: San_Francisco, sans-serif !important;*/
  /*--ion-default-font: San_Francisco, sans-serif !important;*/
  font-size: 16px !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 27px;
  margin-top: 0;
}
h2 {
  font-size: 21px;
  margin-top: 0;
}
h3 {
  font-size: 19px;
  margin-top: 0;
}
/*headline*/
h4 {
  font-size: 16px;
  margin-top: 0;
}
h5, p, span {
  font-size: 16px;
  margin: 0;
}

.u700 {
  font-weight: 700;
}

.caption {
  font-size: 12px;
  margin-top: .5rem;
}

.mess-error {
  color: var(--ion-color-danger);
}

.price {
  display: flex;
  align-items: center;
}

.price .unit {
  margin-left: .25rem;
  font-size: 90%;
}

.in {
  color: var(--ion-color-success);
}
.out {
  color: var(--ion-color-danger);
}

.modal.custom {
  /*--height: 50%;*/
  /*--width: 80%;*/
  /*--border-radius: 10px;*/
}

.form-control .mess-error {
  padding-left: 15px;
  font-size: 90%;
}

.upload {
  display: flex;
  height: 10rem;
  width: 100%;
}
.upload.have-image {
  width: calc((100% - 10px) / 2) !important;
}

.upload .fake {
  border: 2px dashed var(--ion-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  /* background-color: var(--ion-color-light); */
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
} 
.upload .icon {
  font-size: 2rem;
  color: var(--ion-color-medium);
}

.wrap-upload {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
.wrap-upload .image {
  max-height: 10rem;
  width: calc((100% - 10px) / 2);
  margin-right: 10px;
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.wrap-upload .image:nth-child(2n) {
  margin-right: 0;
}
.wrap-upload .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*  control  */
.select.date {
  --placeholder-color: var(--ion-color-light-contrast);
}